# 构建临时文件
tmpbuild/
*.o
*.nep
*.elf
*.bin

# LLVM构建目录
llvm-project/build/
llvm-build/

# VHD镜像太大，不入库
*.vhd
*.zip
*.tar.gz
*.mp4
*.mkv
*.wav
*.png
!assets/gnos-icon.png
*.docx
*.psf

# Python缓存
__pycache__/
*.pyc

# OS文件
.DS_Store
Thumbs.db
